@model IEnumerable<Hotel_Booking_System.View_Models.BookingIndexVM>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<table class="table">
    <tr>
        <th>
            Name
        </th>
        <th>
            Created
        </th>
        <th>
            From
        </th>
        <th>
            To
        </th>
        <th>
            No. Rooms
        </th>
        <th>
            Total
        </th>
        <th>
            Payment Made
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Created)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.From)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.To)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NoRooms)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PaymentMade)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.ModelId })
        </td>
    </tr>
}

</table>
