@model IEnumerable<Hotel_Booking_System.Models.Booking>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Customer.forename)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingMadeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.bookingMadeTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.startDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.endDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paymentTotal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paymentDueDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.paymentMadeDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.comments)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.deleted)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Customer.forename)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookingMadeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.bookingMadeTime)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.startDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.endDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paymentTotal)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paymentDueDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.paymentMadeDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.comments)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.deleted)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
