@model Hotel_Booking_System.View_Models.RoomDetailsVM

@{
    ViewBag.Title = "Details";
}

<h2>@ViewBag.Title</h2>

<div>
@using (Html.BeginForm("AddToCart", "Rooms", new { id = Model.Room.id }))
{
    <h4>Room</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            Hotel
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.Hotel.name)
        </dd>

        <dt>
            Floor
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.HotelFloor.no)
        </dd>

        <dt>
            Room Band
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomBand.name)
        </dd>

        <dt>
            Price
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomPrice.price)
        </dd>

        <dt>
            Room Type
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.RoomType.name)
        </dd>

        <dt>
            Additional Notes
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Room.additionalNotes)
        </dd>

        <dt>
            Facilities
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facilities)
        </dd>
    </dl>
    <input type="button" value="Back" class="btn btn-default" onclick="location.href='@Url.Action("Index")'"/>
    <input type="submit" value="Add to cart" class="btn btn-primary" style="float: right" />
}
</div>
