@model IEnumerable<Hotel_Booking_System.Models.Room>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hotel.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HotelFloor.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomBand.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomPrice.id)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.RoomType.name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.additionalNotes)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Hotel.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HotelFloor.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomBand.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomPrice.id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.RoomType.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.additionalNotes)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
